<div class="bs-welcome">

		{BEGIN item1_menulink}
		<div class=" clearfix col-lg-12 col-md-12 col-sm-12">
	<h2>{$item1_icon}{$item1_title}</h2>
		{BEGIN item1_comments}
		<div class="bs-welcome-group-comments">
			{$item1_comments_text}
		</div>
		{END item1_comments}
	
	</div>
	{END item1_menulink}
	
	
		<div class="clearfix">
	</div>
		{BEGIN item2_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item2_menulink_style}> 
				<a {$item2_menulink_attrs}>{$item2_icon}{$item2_title}</a>
			</div>
			{BEGIN item2_comments}
			<div class="bs-welcome-content">
				{$item2_comments_text}
			</div>
			{END item2_comments}
		</div>
	</div>
	{END item2_menulink}
	
	
		{BEGIN item3_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item3_menulink_style}> 
				<a {$item3_menulink_attrs}>{$item3_icon}{$item3_title}</a>
			</div>
			{BEGIN item3_comments}
			<div class="bs-welcome-content">
				{$item3_comments_text}
			</div>
			{END item3_comments}
		</div>
	</div>
	{END item3_menulink}
	
	
		{BEGIN item4_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item4_menulink_style}> 
				<a {$item4_menulink_attrs}>{$item4_icon}{$item4_title}</a>
			</div>
			{BEGIN item4_comments}
			<div class="bs-welcome-content">
				{$item4_comments_text}
			</div>
			{END item4_comments}
		</div>
	</div>
	{END item4_menulink}
	
	
		{BEGIN item5_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item5_menulink_style}> 
				<a {$item5_menulink_attrs}>{$item5_icon}{$item5_title}</a>
			</div>
			{BEGIN item5_comments}
			<div class="bs-welcome-content">
				{$item5_comments_text}
			</div>
			{END item5_comments}
		</div>
	</div>
	{END item5_menulink}
	
	
		{BEGIN item6_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item6_menulink_style}> 
				<a {$item6_menulink_attrs}>{$item6_icon}{$item6_title}</a>
			</div>
			{BEGIN item6_comments}
			<div class="bs-welcome-content">
				{$item6_comments_text}
			</div>
			{END item6_comments}
		</div>
	</div>
	{END item6_menulink}
	
	
		{BEGIN item7_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item7_menulink_style}> 
				<a {$item7_menulink_attrs}>{$item7_icon}{$item7_title}</a>
			</div>
			{BEGIN item7_comments}
			<div class="bs-welcome-content">
				{$item7_comments_text}
			</div>
			{END item7_comments}
		</div>
	</div>
	{END item7_menulink}
	
	
</div>


