<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel cm1_1_v_elec_distri masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$NumeroMunicipio_class}">{$label cm1_1_v_elec_distri NumeroMunicipio}</th>
			<th class="{$NumeroDistrito_class}">{$label cm1_1_v_elec_distri NumeroDistrito}</th>
			<th class="{$NombreDistrito_class}">{$label cm1_1_v_elec_distri NombreDistrito}</th>
			<th class="{$idElecDistriTotal_class}">{$label cm1_1_v_elec_distri idElecDistriTotal}</th>
			<th class="{$Convocatoria_idConvocatoria_class}">{$label cm1_1_v_elec_distri Convocatoria_idConvocatoria}</th>
			<th class="{$Censo_class}">{$label cm1_1_v_elec_distri Censo}</th>
			<th class="{$Certificacion_class}">{$label cm1_1_v_elec_distri Certificacion}</th>
			<th class="{$Interventores_class}">{$label cm1_1_v_elec_distri Interventores}</th>
			<th class="{$Nulo_class}">{$label cm1_1_v_elec_distri Nulo}</th>
			<th class="{$Blanco_class}">{$label cm1_1_v_elec_distri Blanco}</th>
			<th class="{$Validos_class}">{$label cm1_1_v_elec_distri Validos}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$NumeroMunicipio_class}">{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NumeroDistrito_class}">{$NumeroDistrito_mastervalue}</td>
			<td class="{$NombreDistrito_class}">{$NombreDistrito_mastervalue}</td>
			<td class="{$idElecDistriTotal_class}">{$idElecDistriTotal_mastervalue}</td>
			<td class="{$Convocatoria_idConvocatoria_class}">{$Convocatoria_idConvocatoria_mastervalue}</td>
			<td class="{$Censo_class}">{$Censo_mastervalue}</td>
			<td class="{$Certificacion_class}">{$Certificacion_mastervalue}</td>
			<td class="{$Interventores_class}">{$Interventores_mastervalue}</td>
			<td class="{$Nulo_class}">{$Nulo_mastervalue}</td>
			<td class="{$Blanco_class}">{$Blanco_mastervalue}</td>
			<td class="{$Validos_class}">{$Validos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>