<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel cm1_1_v_elec_distri masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=NumeroMunicipio]:before {
		content: "{$label cm1_1_v_elec_distri NumeroMunicipio}";
	}
	.bs-gridcell[data-field=NumeroDistrito]:before {
		content: "{$label cm1_1_v_elec_distri NumeroDistrito}";
	}
	.bs-gridcell[data-field=NombreDistrito]:before {
		content: "{$label cm1_1_v_elec_distri NombreDistrito}";
	}
	.bs-gridcell[data-field=idElecDistriTotal]:before {
		content: "{$label cm1_1_v_elec_distri idElecDistriTotal}";
	}
	.bs-gridcell[data-field=Convocatoria_idConvocatoria]:before {
		content: "{$label cm1_1_v_elec_distri Convocatoria_idConvocatoria}";
	}
	.bs-gridcell[data-field=Censo]:before {
		content: "{$label cm1_1_v_elec_distri Censo}";
	}
	.bs-gridcell[data-field=Certificacion]:before {
		content: "{$label cm1_1_v_elec_distri Certificacion}";
	}
	.bs-gridcell[data-field=Interventores]:before {
		content: "{$label cm1_1_v_elec_distri Interventores}";
	}
	.bs-gridcell[data-field=Nulo]:before {
		content: "{$label cm1_1_v_elec_distri Nulo}";
	}
	.bs-gridcell[data-field=Blanco]:before {
		content: "{$label cm1_1_v_elec_distri Blanco}";
	}
	.bs-gridcell[data-field=Validos]:before {
		content: "{$label cm1_1_v_elec_distri Validos}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$NumeroMunicipio_class}">{$label cm1_1_v_elec_distri NumeroMunicipio}</th>
			<th class="{$NumeroDistrito_class}">{$label cm1_1_v_elec_distri NumeroDistrito}</th>
			<th class="{$NombreDistrito_class}">{$label cm1_1_v_elec_distri NombreDistrito}</th>
			<th class="{$idElecDistriTotal_class}">{$label cm1_1_v_elec_distri idElecDistriTotal}</th>
			<th class="{$Convocatoria_idConvocatoria_class}">{$label cm1_1_v_elec_distri Convocatoria_idConvocatoria}</th>
			<th class="{$Censo_class}">{$label cm1_1_v_elec_distri Censo}</th>
			<th class="{$Certificacion_class}">{$label cm1_1_v_elec_distri Certificacion}</th>
			<th class="{$Interventores_class}">{$label cm1_1_v_elec_distri Interventores}</th>
			<th class="{$Nulo_class}">{$label cm1_1_v_elec_distri Nulo}</th>
			<th class="{$Blanco_class}">{$label cm1_1_v_elec_distri Blanco}</th>
			<th class="{$Validos_class}">{$label cm1_1_v_elec_distri Validos}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$NumeroMunicipio_class} bs-gridcell" data-field=NumeroMunicipio>{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NumeroDistrito_class} bs-gridcell" data-field=NumeroDistrito>{$NumeroDistrito_mastervalue}</td>
			<td class="{$NombreDistrito_class} bs-gridcell" data-field=NombreDistrito>{$NombreDistrito_mastervalue}</td>
			<td class="{$idElecDistriTotal_class} bs-gridcell" data-field=idElecDistriTotal>{$idElecDistriTotal_mastervalue}</td>
			<td class="{$Convocatoria_idConvocatoria_class} bs-gridcell" data-field=Convocatoria_idConvocatoria>{$Convocatoria_idConvocatoria_mastervalue}</td>
			<td class="{$Censo_class} bs-gridcell" data-field=Censo>{$Censo_mastervalue}</td>
			<td class="{$Certificacion_class} bs-gridcell" data-field=Certificacion>{$Certificacion_mastervalue}</td>
			<td class="{$Interventores_class} bs-gridcell" data-field=Interventores>{$Interventores_mastervalue}</td>
			<td class="{$Nulo_class} bs-gridcell" data-field=Nulo>{$Nulo_mastervalue}</td>
			<td class="{$Blanco_class} bs-gridcell" data-field=Blanco>{$Blanco_mastervalue}</td>
			<td class="{$Validos_class} bs-gridcell" data-field=Validos>{$Validos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>