<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel cm1_2_Candidaturas masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$idEscanos_class}">{$label cm1_2_Candidaturas idEscanos}</th>
			<th class="{$Convocatoria_idConvocatoria_class}">{$label cm1_2_Candidaturas Convocatoria_idConvocatoria}</th>
			<th class="{$Candidatura_idCandidatura_class}">{$label cm1_2_Candidaturas Candidatura_idCandidatura}</th>
			<th class="{$Color_class}">{$label cm1_2_Candidaturas Color}</th>
			<th class="{$Escanos_class}">{$label cm1_2_Candidaturas Escanos}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$idEscanos_class}">{$idEscanos_mastervalue}</td>
			<td class="{$Convocatoria_idConvocatoria_class}">{$Convocatoria_idConvocatoria_mastervalue}</td>
			<td class="{$Candidatura_idCandidatura_class}">{$Candidatura_idCandidatura_mastervalue}</td>
			<td class="{$Color_class}">{$Color_mastervalue}</td>
			<td class="{$Escanos_class}">{$Escanos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>