<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel cm1_1_v_elec_muni masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=NumeroMunicipio]:before {
		content: "{$label cm1_1_v_elec_muni NumeroMunicipio}";
	}
	.bs-gridcell[data-field=NombreMunicipio]:before {
		content: "{$label cm1_1_v_elec_muni NombreMunicipio}";
	}
	.bs-gridcell[data-field=Convocatoria_idConvocatoria]:before {
		content: "{$label cm1_1_v_elec_muni Convocatoria_idConvocatoria}";
	}
	.bs-gridcell[data-field=Censo]:before {
		content: "{$label cm1_1_v_elec_muni Censo}";
	}
	.bs-gridcell[data-field=Certificacion]:before {
		content: "{$label cm1_1_v_elec_muni Certificacion}";
	}
	.bs-gridcell[data-field=Interventores]:before {
		content: "{$label cm1_1_v_elec_muni Interventores}";
	}
	.bs-gridcell[data-field=Nulo]:before {
		content: "{$label cm1_1_v_elec_muni Nulo}";
	}
	.bs-gridcell[data-field=Blanco]:before {
		content: "{$label cm1_1_v_elec_muni Blanco}";
	}
	.bs-gridcell[data-field=Validos]:before {
		content: "{$label cm1_1_v_elec_muni Validos}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$Censo_class}">{$label cm1_1_v_elec_muni Censo}</th>
			<th class="{$Certificacion_class}">{$label cm1_1_v_elec_muni Certificacion}</th>
			<th class="{$Interventores_class}">{$label cm1_1_v_elec_muni Interventores}</th>
			<th class="{$Nulo_class}">{$label cm1_1_v_elec_muni Nulo}</th>
			<th class="{$Blanco_class}">{$label cm1_1_v_elec_muni Blanco}</th>
			<th class="{$Validos_class}">{$label cm1_1_v_elec_muni Validos}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$Censo_class} bs-gridcell" data-field=Censo>{$Censo_mastervalue}</td>
			<td class="{$Certificacion_class} bs-gridcell" data-field=Certificacion>{$Certificacion_mastervalue}</td>
			<td class="{$Interventores_class} bs-gridcell" data-field=Interventores>{$Interventores_mastervalue}</td>
			<td class="{$Nulo_class} bs-gridcell" data-field=Nulo>{$Nulo_mastervalue}</td>
			<td class="{$Blanco_class} bs-gridcell" data-field=Blanco>{$Blanco_mastervalue}</td>
			<td class="{$Validos_class} bs-gridcell" data-field=Validos>{$Validos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>