<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Detalles encontrados: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$Censo_class}">{$label v_convocatoria_total Censo}</th>
			<th class="{$Certificacion_class}">{$label v_convocatoria_total Certificacion}</th>
			<th class="{$Interventores_class}">{$label v_convocatoria_total Interventores}</th>
			<th class="{$Nulo_class}">{$label v_convocatoria_total Nulo}</th>
			<th class="{$Blanco_class}">{$label v_convocatoria_total Blanco}</th>
			<th class="{$Validos_class}">{$label v_convocatoria_total Validos}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$Censo_class}">{$Censo_value}</td>
			<td class="{$Certificacion_class}">{$Certificacion_value}</td>
			<td class="{$Interventores_class}">{$Interventores_value}</td>
			<td class="{$Nulo_class}">{$Nulo_value}</td>
			<td class="{$Blanco_class}">{$Blanco_value}</td>
			<td class="{$Validos_class}">{$Validos_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>