<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel cm2_distrito masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$idCandidatura_class}">{$label cm2_distrito idCandidatura}</th>
			<th class="{$Codigo_class}">{$label cm2_distrito Codigo}</th>
			<th class="{$idDistrito_class}">{$label cm2_distrito idDistrito}</th>
			<th class="{$NumeroMunicipio_class}">{$label cm2_distrito NumeroMunicipio}</th>
			<th class="{$NumeroDistrito_class}">{$label cm2_distrito NumeroDistrito}</th>
			<th class="{$NombreDistrito_class}">{$label cm2_distrito NombreDistrito}</th>
			<th class="{$Censo_class}">{$label cm2_distrito Censo}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$idCandidatura_class}">{$idCandidatura_mastervalue}</td>
			<td class="{$Codigo_class}">{$Codigo_mastervalue}</td>
			<td class="{$idDistrito_class}">{$idDistrito_mastervalue}</td>
			<td class="{$NumeroMunicipio_class}">{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NumeroDistrito_class}">{$NumeroDistrito_mastervalue}</td>
			<td class="{$NombreDistrito_class}">{$NombreDistrito_mastervalue}</td>
			<td class="{$Censo_class}">{$Censo_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>