<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel cm2_candidatura masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idCandidatura]:before {
		content: "{$label cm2_candidatura idCandidatura}";
	}
	.bs-gridcell[data-field=Codigo]:before {
		content: "{$label cm2_candidatura Codigo}";
	}
	.bs-gridcell[data-field=Color]:before {
		content: "{$label cm2_candidatura Color}";
	}
	.bs-gridcell[data-field=Votos]:before {
		content: "{$label cm2_candidatura Votos}";
	}
	.bs-gridcell[data-field=PorVotos]:before {
		content: "{$label cm2_candidatura PorVotos}";
	}
	.bs-gridcell[data-field=escanos]:before {
		content: "{$label cm2_candidatura escanos}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
		</tr>
	</thead>
	
	<tbody>
		<tr>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>