<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel cm2_municipio masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$idCandidatura_class}">{$label cm2_municipio idCandidatura}</th>
			<th class="{$Codigo_class}">{$label cm2_municipio Codigo}</th>
			<th class="{$idMunicipio_class}">{$label cm2_municipio idMunicipio}</th>
			<th class="{$NumeroMunicipio_class}">{$label cm2_municipio NumeroMunicipio}</th>
			<th class="{$NombreMunicipio_class}">{$label cm2_municipio NombreMunicipio}</th>
			<th class="{$Censo_class}">{$label cm2_municipio Censo}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$idCandidatura_class}">{$idCandidatura_mastervalue}</td>
			<td class="{$Codigo_class}">{$Codigo_mastervalue}</td>
			<td class="{$idMunicipio_class}">{$idMunicipio_mastervalue}</td>
			<td class="{$NumeroMunicipio_class}">{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NombreMunicipio_class}">{$NombreMunicipio_mastervalue}</td>
			<td class="{$Censo_class}">{$Censo_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>