<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel cm2_municipio masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idCandidatura]:before {
		content: "{$label cm2_municipio idCandidatura}";
	}
	.bs-gridcell[data-field=Codigo]:before {
		content: "{$label cm2_municipio Codigo}";
	}
	.bs-gridcell[data-field=idMunicipio]:before {
		content: "{$label cm2_municipio idMunicipio}";
	}
	.bs-gridcell[data-field=NumeroMunicipio]:before {
		content: "{$label cm2_municipio NumeroMunicipio}";
	}
	.bs-gridcell[data-field=NombreMunicipio]:before {
		content: "{$label cm2_municipio NombreMunicipio}";
	}
	.bs-gridcell[data-field=Censo]:before {
		content: "{$label cm2_municipio Censo}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$idCandidatura_class}">{$label cm2_municipio idCandidatura}</th>
			<th class="{$Codigo_class}">{$label cm2_municipio Codigo}</th>
			<th class="{$idMunicipio_class}">{$label cm2_municipio idMunicipio}</th>
			<th class="{$NumeroMunicipio_class}">{$label cm2_municipio NumeroMunicipio}</th>
			<th class="{$NombreMunicipio_class}">{$label cm2_municipio NombreMunicipio}</th>
			<th class="{$Censo_class}">{$label cm2_municipio Censo}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$idCandidatura_class} bs-gridcell" data-field=idCandidatura>{$idCandidatura_mastervalue}</td>
			<td class="{$Codigo_class} bs-gridcell" data-field=Codigo>{$Codigo_mastervalue}</td>
			<td class="{$idMunicipio_class} bs-gridcell" data-field=idMunicipio>{$idMunicipio_mastervalue}</td>
			<td class="{$NumeroMunicipio_class} bs-gridcell" data-field=NumeroMunicipio>{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NombreMunicipio_class} bs-gridcell" data-field=NombreMunicipio>{$NombreMunicipio_mastervalue}</td>
			<td class="{$Censo_class} bs-gridcell" data-field=Censo>{$Censo_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>