<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel cm2_distrito masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idCandidatura]:before {
		content: "{$label cm2_distrito idCandidatura}";
	}
	.bs-gridcell[data-field=Codigo]:before {
		content: "{$label cm2_distrito Codigo}";
	}
	.bs-gridcell[data-field=idDistrito]:before {
		content: "{$label cm2_distrito idDistrito}";
	}
	.bs-gridcell[data-field=NumeroMunicipio]:before {
		content: "{$label cm2_distrito NumeroMunicipio}";
	}
	.bs-gridcell[data-field=NumeroDistrito]:before {
		content: "{$label cm2_distrito NumeroDistrito}";
	}
	.bs-gridcell[data-field=NombreDistrito]:before {
		content: "{$label cm2_distrito NombreDistrito}";
	}
	.bs-gridcell[data-field=Censo]:before {
		content: "{$label cm2_distrito Censo}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$idCandidatura_class}">{$label cm2_distrito idCandidatura}</th>
			<th class="{$Codigo_class}">{$label cm2_distrito Codigo}</th>
			<th class="{$idDistrito_class}">{$label cm2_distrito idDistrito}</th>
			<th class="{$NumeroMunicipio_class}">{$label cm2_distrito NumeroMunicipio}</th>
			<th class="{$NumeroDistrito_class}">{$label cm2_distrito NumeroDistrito}</th>
			<th class="{$NombreDistrito_class}">{$label cm2_distrito NombreDistrito}</th>
			<th class="{$Censo_class}">{$label cm2_distrito Censo}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$idCandidatura_class} bs-gridcell" data-field=idCandidatura>{$idCandidatura_mastervalue}</td>
			<td class="{$Codigo_class} bs-gridcell" data-field=Codigo>{$Codigo_mastervalue}</td>
			<td class="{$idDistrito_class} bs-gridcell" data-field=idDistrito>{$idDistrito_mastervalue}</td>
			<td class="{$NumeroMunicipio_class} bs-gridcell" data-field=NumeroMunicipio>{$NumeroMunicipio_mastervalue}</td>
			<td class="{$NumeroDistrito_class} bs-gridcell" data-field=NumeroDistrito>{$NumeroDistrito_mastervalue}</td>
			<td class="{$NombreDistrito_class} bs-gridcell" data-field=NombreDistrito>{$NombreDistrito_mastervalue}</td>
			<td class="{$Censo_class} bs-gridcell" data-field=Censo>{$Censo_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>