<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel convocatoria masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$idConvocatoria_class}">{$label convocatoria idConvocatoria}</th>
			<th class="{$Orden_class}">{$label convocatoria Orden}</th>
			<th class="{$EsAsamblea_class}">{$label convocatoria EsAsamblea}</th>
			<th class="{$Titulo_class}">{$label convocatoria Titulo}</th>
			<th class="{$Descripcion_class}">{$label convocatoria Descripcion}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$idConvocatoria_class}">{$idConvocatoria_mastervalue}</td>
			<td class="{$Orden_class}">{$Orden_mastervalue}</td>
			<td class="{$EsAsamblea_class}">{$EsAsamblea_mastervalue}</td>
			<td class="{$Titulo_class}">{$Titulo_mastervalue}</td>
			<td class="{$Descripcion_class}">{$Descripcion_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>