<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel convocatoria masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idConvocatoria]:before {
		content: "{$label convocatoria idConvocatoria}";
	}
	.bs-gridcell[data-field=Orden]:before {
		content: "{$label convocatoria Orden}";
	}
	.bs-gridcell[data-field=EsAsamblea]:before {
		content: "{$label convocatoria EsAsamblea}";
	}
	.bs-gridcell[data-field=Titulo]:before {
		content: "{$label convocatoria Titulo}";
	}
	.bs-gridcell[data-field=Descripcion]:before {
		content: "{$label convocatoria Descripcion}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$idConvocatoria_class}">{$label convocatoria idConvocatoria}</th>
			<th class="{$Orden_class}">{$label convocatoria Orden}</th>
			<th class="{$EsAsamblea_class}">{$label convocatoria EsAsamblea}</th>
			<th class="{$Titulo_class}">{$label convocatoria Titulo}</th>
			<th class="{$Descripcion_class}">{$label convocatoria Descripcion}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$idConvocatoria_class} bs-gridcell" data-field=idConvocatoria>{$idConvocatoria_mastervalue}</td>
			<td class="{$Orden_class} bs-gridcell" data-field=Orden>{$Orden_mastervalue}</td>
			<td class="{$EsAsamblea_class} bs-gridcell" data-field=EsAsamblea>{$EsAsamblea_mastervalue}</td>
			<td class="{$Titulo_class} bs-gridcell" data-field=Titulo>{$Titulo_mastervalue}</td>
			<td class="{$Descripcion_class} bs-gridcell" data-field=Descripcion>{$Descripcion_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>