<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Candidatura_idCandidatura">
	{$Candidatura_idCandidatura_editcontrol}
	</control>
	<control 
	field="Votos">
	{$Votos_editcontrol}
	</control>
	<control 
	field="PorcVotos">
	{$PorcVotos_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
