<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Volver a {$backtomasterlink_caption}</a><span>{$pagetitlelabel escanos masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idEscanos]:before {
		content: "{$label escanos idEscanos}";
	}
	.bs-gridcell[data-field=Convocatoria_idConvocatoria]:before {
		content: "{$label escanos Convocatoria_idConvocatoria}";
	}
	.bs-gridcell[data-field=Candidatura_idCandidatura]:before {
		content: "{$label escanos Candidatura_idCandidatura}";
	}
	.bs-gridcell[data-field=Color]:before {
		content: "{$label escanos Color}";
	}
	.bs-gridcell[data-field=Votos]:before {
		content: "{$label escanos Votos}";
	}
	.bs-gridcell[data-field=PorcVotos]:before {
		content: "{$label escanos PorcVotos}";
	}
	.bs-gridcell[data-field=Escanos]:before {
		content: "{$label escanos Escanos}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$idEscanos_class}">{$label escanos idEscanos}</th>
			<th class="{$Convocatoria_idConvocatoria_class}">{$label escanos Convocatoria_idConvocatoria}</th>
			<th class="{$Candidatura_idCandidatura_class}">{$label escanos Candidatura_idCandidatura}</th>
			<th class="{$Color_class}">{$label escanos Color}</th>
			<th class="{$Votos_class}">{$label escanos Votos}</th>
			<th class="{$PorcVotos_class}">{$label escanos PorcVotos}</th>
			<th class="{$Escanos_class}">{$label escanos Escanos}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$idEscanos_class} bs-gridcell" data-field=idEscanos>{$idEscanos_mastervalue}</td>
			<td class="{$Convocatoria_idConvocatoria_class} bs-gridcell" data-field=Convocatoria_idConvocatoria>{$Convocatoria_idConvocatoria_mastervalue}</td>
			<td class="{$Candidatura_idCandidatura_class} bs-gridcell" data-field=Candidatura_idCandidatura>{$Candidatura_idCandidatura_mastervalue}</td>
			<td class="{$Color_class} bs-gridcell" data-field=Color>{$Color_mastervalue}</td>
			<td class="{$Votos_class} bs-gridcell" data-field=Votos>{$Votos_mastervalue}</td>
			<td class="{$PorcVotos_class} bs-gridcell" data-field=PorcVotos>{$PorcVotos_mastervalue}</td>
			<td class="{$Escanos_class} bs-gridcell" data-field=Escanos>{$Escanos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>