{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu tree {$menustyle}" data-menuname="{$menuName}">
{BEGIN menu_collapse_expand_all}
	<li class="manage">
		<div>
			<a href="#"><img alt="*" src="images/plus.gif">
				<span class=expand>Expandir todo</span>
				<span class="hide" style="display:none;">Contraer todo</span>
			</a>
		</div>
	</li>
{END menu_collapse_expand_all}
	{BEGIN item1_menulink}
	<li id="item1" class="{$item1_groupclass} {$item1_current} menuGroup" level=1>
			<div>
{BEGIN item1_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item1_groupimage}
<a {$item1_menulink_attrs} class="{$item1_current}">{$item1_title}</a>
</div>

	</li>	
			{BEGIN item2_menulink}
			<li id="item2" style="display:none" class="subitem level2 {$item2_groupclass} {$item2_current} menuLeaf" level=2>
					<div>
<a {$item2_menulink_attrs} class="{$item2_current}">{$item2_title}</a>
</div>

			</li>	
			{END item2_menulink}
			{BEGIN item3_menulink}
			<li id="item3" style="display:none" class="subitem level2 {$item3_groupclass} {$item3_current} menuLeaf" level=2>
					<div>
<a {$item3_menulink_attrs} class="{$item3_current}">{$item3_title}</a>
</div>

			</li>	
			{END item3_menulink}
			{BEGIN item4_menulink}
			<li id="item4" style="display:none" class="subitem level2 {$item4_groupclass} {$item4_current} menuLeaf" level=2>
					<div>
<a {$item4_menulink_attrs} class="{$item4_current}">{$item4_title}</a>
</div>

			</li>	
			{END item4_menulink}
	{END item1_menulink}
	{BEGIN item5_menulink}
	<li id="item5" class="{$item5_groupclass} {$item5_current} menuGroup" level=1>
			<div>
{BEGIN item5_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item5_groupimage}
<a {$item5_menulink_attrs} class="{$item5_current}">{$item5_title}</a>
</div>

	</li>	
			{BEGIN item6_menulink}
			<li id="item6" style="display:none" class="subitem level2 {$item6_groupclass} {$item6_current} menuLeaf" level=2>
					<div>
<a {$item6_menulink_attrs} class="{$item6_current}">{$item6_title}</a>
</div>

			</li>	
			{END item6_menulink}
	{END item5_menulink}
	{BEGIN item7_menulink}
	<li id="item7" class="{$item7_groupclass} {$item7_current} menuGroup" level=1>
			<div>
{BEGIN item7_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item7_groupimage}
<a {$item7_menulink_attrs} class="{$item7_current}">{$item7_title}</a>
</div>

	</li>	
			{BEGIN item8_menulink}
			<li id="item8" style="display:none" class="subitem level2 {$item8_groupclass} {$item8_current} menuLeaf" level=2>
					<div>
<a {$item8_menulink_attrs} class="{$item8_current}">{$item8_title}</a>
</div>

			</li>	
			{END item8_menulink}
			{BEGIN item9_menulink}
			<li id="item9" style="display:none" class="subitem level2 {$item9_groupclass} {$item9_current} menuLeaf" level=2>
					<div>
<a {$item9_menulink_attrs} class="{$item9_current}">{$item9_title}</a>
</div>

			</li>	
			{END item9_menulink}
	{END item7_menulink}
</ul>
{END mainmenu_block}


