	{BEGIN item1_menulink}
	<option {$item1_optionattrs} {BEGIN item1_current}selected{END item1_current}>
		{$item1_nbsps}{$item1_title}
	</option>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<option {$item2_optionattrs} {BEGIN item2_current}selected{END item2_current}>
		{$item2_nbsps}{$item2_title}
	</option>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<option {$item3_optionattrs} {BEGIN item3_current}selected{END item3_current}>
		{$item3_nbsps}{$item3_title}
	</option>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<option {$item4_optionattrs} {BEGIN item4_current}selected{END item4_current}>
		{$item4_nbsps}{$item4_title}
	</option>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<option {$item5_optionattrs} {BEGIN item5_current}selected{END item5_current}>
		{$item5_nbsps}{$item5_title}
	</option>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<option {$item6_optionattrs} {BEGIN item6_current}selected{END item6_current}>
		{$item6_nbsps}{$item6_title}
	</option>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<option {$item7_optionattrs} {BEGIN item7_current}selected{END item7_current}>
		{$item7_nbsps}{$item7_title}
	</option>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<option {$item8_optionattrs} {BEGIN item8_current}selected{END item8_current}>
		{$item8_nbsps}{$item8_title}
	</option>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<option {$item9_optionattrs} {BEGIN item9_current}selected{END item9_current}>
		{$item9_nbsps}{$item9_title}
	</option>
	{END item9_menulink}
