<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel v_elec_muni masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$Censo_class}">{$label v_elec_muni Censo}</th>
			<th class="{$Certificacion_class}">{$label v_elec_muni Certificacion}</th>
			<th class="{$Interventores_class}">{$label v_elec_muni Interventores}</th>
			<th class="{$Nulo_class}">{$label v_elec_muni Nulo}</th>
			<th class="{$Blanco_class}">{$label v_elec_muni Blanco}</th>
			<th class="{$Validos_class}">{$label v_elec_muni Validos}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$Censo_class}">{$Censo_mastervalue}</td>
			<td class="{$Certificacion_class}">{$Certificacion_mastervalue}</td>
			<td class="{$Interventores_class}">{$Interventores_mastervalue}</td>
			<td class="{$Nulo_class}">{$Nulo_mastervalue}</td>
			<td class="{$Blanco_class}">{$Blanco_mastervalue}</td>
			<td class="{$Validos_class}">{$Validos_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>